$red: #E53935;
$pink: #F48FB1;
$blue: rgb(35,136,219);
$yellow: #FFF222;
$green: #75CC1C;
$orange: #FF3D04;

.container {
  position: relative;
}

.text-center {
  text-align: center;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img {
  max-width: 100%;
  display: block;
}

.max-140 {
  max-width: 140px;
  margin: 25px auto;
  display: block;
}

.max-440 {
  max-width: 440px;
  margin: 25px auto;
  display: block;
}

.max-640 {
  max-width: 640px;
  margin: 25px auto;
  display: block;
}

.margin-none {
  margin: 0 !important;
}

.margin-none-vertical {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.padded {
  padding-top:45px;
  padding-bottom:45px;
  @media all screen and (max-width: 750px) {
    padding-top:25px;
    padding-bottom:25px;
  }
  &.sm {
    padding-top:25px;
    padding-bottom:25px;
    @media all screen and (max-width: 750px) {
      padding-top:12px;
      padding-bottom:12px;
    }
  }
}

.margined {
  margin-top: 45px;
  margin-bottom: 45px;
  @media all screen and (max-width: 750px) {
    margin-top: 25px;
    margin-bottom: 25px;
  }
  &.sm {
    margin-top: 20px;
    margin-bottom: 20px;
    @media all screen and (max-width: 750px) {
      margin-top: 8px;
      margin-bottom: 8px;
    }
  }
}

.window {
  padding: 24px 0;
  background: #eee;
  &.bordered {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
  }
  &.white {
    background: #fff;
  }
  &.black {
    background: #333;
    color: #fff;
  }
  &.green {
    background: $green;
    color: #fff;
  }
  &.red {
    background: $red;
    color: #fff;
  }
  &.blue {
    background: $blue;
    color: #fff;
  }
  &.sm {
    padding: 24px 0;
  }
  @media screen and (min-width: 750px) {
    padding: 65px 0;
  }
}

ul.social {
  list-style-type: none;
  margin: 35px auto;
  display: block;
  text-align: center;
  a, a:hover, a:active, a:focus {
    color: #333;
    i {
      font-size: 60px;
      margin-right: 5px;
    }
    &:hover {
      color: rgba(0, 0, 0, 0.7);
    }
  }
}

#map {
  height: 600px;
  margin-top: -120px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
  border-radius: 5px;
  border: 6px solid #fff;
  position: relative;
}

i.question {
  @include position(absolute, auto -16px 35px auto);
  z-index: 2;
  color: $blue;
  font-size: 45px;
  line-height: 45px;
  display: block;
  padding:5px;
  width: 45px;
  height: 45px;
  cursor: pointer;
}

.hero {
  padding: 100px 0 140px 0;
  background: $blue;
  box-shadow: 0 -1px rgba(0,0,0,0.1) inset;
  position: relative;
  color: #fff;
  h1 span {
    font-weight: normal;
  }
  p {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    width: 90%;
    max-width: 640px;
    margin: 10px auto 0 auto;
    color: #333;
    padding: 25px;
    font-size: 14px;
    span {
      font-weight: bold;
    }
  }
}

.pricing {
  .columns {
    box-shadow:0 4px 12px rgba(0,0,0,0.2);
    border-radius: 5px;
    padding: 15px;
    background-color: #fff;
    margin-bottom: 15px;
    &:nth-of-type(1) {
      background-color:$blue;
    }
    &:nth-of-type(2) {
      background-color:$red;
    }
    &:nth-of-type(3) {
      background-color:$green;
    }
  }
  h2 {
    margin-bottom: 0;
    font-weight: bold;
    font-size: 75px;
    color: #fff;
  }
  h5 {
    margin: 0 0 15px 0;
    color: rgba(0,0,0,0.7);
  }
  p {
    margin: 10px auto;
  }
  .button {
    border: none;
    color: rgba(0,0,0,0.7);
    margin-bottom: 0;
    width: 100%;
    background-color: rgba(250,250,250,0.4);
    box-shadow: 0 2px 8px rgba(0,0,0,0.3);
    @include transition(all, 0.2s);
    &:hover {
      color: #333;
      background-color: rgba(250,250,250,0.9);
      box-shadow: 0 3px 12px rgba(0,0,0,0.3);
    }
  }
  ul {
    font-size: 14px;
    padding: 5px;
    background-color: rgba(250,250,250,0.1);
    border-radius: 4px;
    color: #fff;
    text-align: left;
    list-style-type: none;
    padding: 15px 30px;
    li:last-of-type {
      margin-bottom: 0;
    }
    &:before {
      content:"Contents:";
      text-align: center;
      margin-bottom: 5px;
      display: block;
      font-weight: bold;
      font-size: 12px;
      text-transform: uppercase;
    }
    span {
      font-weight: bold;
      &:before {
        content:" (";
      }
      &:after {
        content:")";
      }
    }
  }
}

.facts {
  .columns {
    @media (min-width: 840px) {
      border-right: 1px solid #fff;
      padding: 25px 4% 25px 0;
      &:last-of-type {
        border: none;
      }
    }
  }
  h2 {
    margin:0;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 32px;
  }
  p {
    margin: 0;
    font-size: 14px;
    line-height: 2rem;
  }
}

.modal-inner {
  a {
    font-size: 12px;
  }
  input[type="submit"] {
    display: block;
    width: 90%;
    max-width: 320px;
    margin: 15px auto;
  }
}

.lift img {
  margin: 0 auto 20px auto;
  width: 90%;
  max-width: 180px;
}

$footer-bg: #333;
$footer-color: #fff;
$footer-link-color: #fff;
$footer-link-hover: rgba(250, 250, 250, 0.7);
$footer-address-color: rgba(250, 250, 250, 0.4);
$social-icon-size: 28px;
footer.simple-footer {
  padding: 35px 0;
  background-color: $footer-bg;
  color: $footer-color;
  text-align:center;
  @media screen and (min-width: 720px) {
    padding: 55px 0;
    text-align: left;
  }
  .footer-row {
    max-width: 460px;
    margin: 0 auto;
    display: block;
    .footer-col {
      display: block;
      width: 100%;
      margin-bottom: 25px;
    }
    @media screen and (min-width: 860px) {
      padding: 0 25px;
      .footer-col {
        display: inline-block;
        float: left;
        width: 49.9%;
        margin-bottom: 0;
      }
    }
  }
  h5 {
    margin-bottom: 5px;
    margin-top: 0;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 24px;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
      margin-bottom: 3px;
    }
  }
  a,
  a:hover,
  a:active,
  a:focus {
    color: $footer-link-color;
    text-decoration: none;
    font-size: 14px;
    &:hover {
      color: $footer-link-hover;
    }
  }
  i {
    font-size: $social-icon-size !important;
    margin-right: 5px;
  }
  .footer-bottom {
    width: 100%;
    padding-top: 15px;
    content: "";
    display: block;
    clear: both;
    .address {
      color: $footer-address-color;
    }
  }
}

